/*
 * This is the ZedBoard reference design
 */

#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/gpio/gpio.h>

&amba {
	axi_iic_adv7511: i2c@41600000 {
                #address-cells = <1>;
                #size-cells = <0>;
                clock-names = "s_axi_aclk";
                clocks = <&clkc 15>;
                compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
                interrupt-names = "iic2intc_irpt";
                interrupt-parent = <&intc>;
                interrupts = <0 31 4>;
                reg = <0x41600000 0x10000>;

		adv7511: adv7511@39 {
			compatible = "adi,adv7511";
                        reg = <0x39>, <0x3f>;
			reg-names = "primary", "edid";

                        adi,input-depth = <8>;
                        adi,input-colorspace = "yuv422";
                        adi,input-clock = "1x";
                        adi,input-style = <1>;
                        adi,input-justification = "right";
                        adi,clock-delay = <0>;

                        #sound-dai-cells = <1>;

                        ports {
                                #address-cells = <1>;
                                #size-cells = <0>;

                                port@0 {
                                        reg = <0>;
                                        adv7511_in: endpoint {
                                                remote-endpoint = <&axi_hdmi_out>;
                                        };
                                };

                                port@1 {
                                        reg = <1>;
                                };
                        };
		};
	};

        hdmi_dma: dma@43C00000 {
                compatible = "adi,axi-dmac-1.00.a";
                reg = <0x43C00000 0x10000>;
                #dma-cells = <1>;
                interrupts = <0 29 4>;
                clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>;

                adi,channels {
                        #size-cells = <0>;
                        #address-cells = <1>;

                        dma-channel@0 {
                                reg = <0>;
                                adi,source-bus-width = <64>;
                                adi,source-bus-type = <0>;
                                adi,destination-bus-width = <64>;
                                adi,destination-bus-type = <1>;
                        };
                };
        };

	adi_axi_hdmi: axi_hdmi@43C30000 {
		compatible = "adi,axi-hdmi-tx-1.00.a";
		reg = <0x43C30000 0x10000>;
		dmas = <&hdmi_dma 0>;
		dma-names = "video";
		clocks = <&iit_clkgen_top_0 0>;

		port {
			axi_hdmi_out: endpoint {
				remote-endpoint = <&adv7511_in>;
			};
		};
	};

        iit_clkgen_top_0: iit_clkgen_top@43c10000 {
                compatible = "adi,axi-clkgen-2.00.a";
                reg = <0x43c10000 0x10000>;
                #clock-cells = <0x0>;
                clocks = <&clkc 16>;
        };

	date_iit_0: date_iit@43c20000 {
                clock-names = "S_AXI_ACLK";
                clocks = <&clkc 15>;
                compatible = "iit,date-1.0";
                reg = <0x43c20000 0x10000>;
        };

        leds {
                compatible = "gpio-leds";
                led0 {
                        label = "led0";
                        gpios = <&gpio0 102 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led1 {
                        label = "led1";
                        gpios = <&gpio0 103 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led2 {
                        label = "led2";
                        gpios = <&gpio0 104 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led3 {
                        label = "led3";
                        gpios = <&gpio0 105 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led4 {
                        label = "led4";
                        gpios = <&gpio0 106 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led5 {
                        label = "led5";
                        gpios = <&gpio0 107 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led6 {
                        label = "led6";
                        gpios = <&gpio0 108 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
                led7 {
                        label = "led7";
                        gpios = <&gpio0 109 GPIO_ACTIVE_HIGH>;
                        linux,default-trigger = "none";
                };
        };

        gpio-keys {
                compatible = "gpio-keys";

                sw0 {
                        label = "sw0";
                        gpios = <&gpio0 110 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_Q>;
                };
                sw1 {
                        label = "sw1";
                        gpios = <&gpio0 111 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_W>;
                };
                sw2 {
                        label = "sw2";
                        gpios = <&gpio0 112 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_E>;
                };
                sw3 {
                        label = "sw3";
                        gpios = <&gpio0 113 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_R>;
                };
                sw4 {
                        label = "sw4";
                        gpios = <&gpio0 114 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_T>;
                };
                sw5 {
                        label = "sw5";
                        gpios = <&gpio0 115 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_Y>;
                };
                sw6 {
                        label = "sw6";
                        gpios = <&gpio0 116 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_U>;
                };
                sw7 {
                        label = "sw7";
                        gpios = <&gpio0 117 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_I>;
                };
                btnup {
                        label = "btnup";
                        gpios = <&gpio0 97 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_SEMICOLON>;
                };
                btndown {
                        label = "btndown";
                        gpios = <&gpio0 98 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_APOSTROPHE>;
                };
                btnleft {
                        label = "btnleft";
                        gpios = <&gpio0 99 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_GRAVE>;
                };
                btnrigth {
                        label = "btnrigth";
                        gpios = <&gpio0 100 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_LEFTSHIFT>;
                };
                btncenter {
                        label = "btncenter";
                        gpios = <&gpio0 101 GPIO_ACTIVE_HIGH>;
                        linux,code = <KEY_BACKSLASH>;
                };
        };
};

